@import "~normalize.css";
@import "./var.scss";
@import "./mixin.scss";

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-image: url(../assets/background_2.png),
        url(../assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px, cover;
    background-attachment: fixed;
}

p {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}


.colors {

    &__1 {
        background-color: $cl1;
    }

    &__2 {
        background-color: $cl2;
    }

    &__3 {
        background-color: $cl3;
    }

    &__4 {
        background-color: $cl4;
    }

    &__W {
        background-color: $clW;
    }

    &__B {
        background-color: $clB;
    }

}

.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.whiteText {
    color: $clW;
}

.blackText {
    color: $clB;
}

.title {
    text-align: center;
    font-weight: 400;
}

.popup {

    background-color: $clW;
    box-shadow: $shadow;
    text-align: center;
    max-width: 500px;
    position: absolute;
    padding: 0 40px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);

    &__title {
        font-weight: 300;
    }

    &__input {
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid;
    }

    &__button {

        @include button (150px);

    }

    &__buttonsFX {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
    }

    &__buttonsBL {

        padding: 10px 0;

        .button {
            margin: 10px 0;
            justify-content: center;
        }

    }

}


.header {

    background-color: $cl1;
    color: $clW;
    width: 100%;

    ul {
        display: flex;
    }

    li {
        text-align: center;
        padding: 10px 20px;
        transition: all $transition;

        &:hover {
            background-color: $cl2;
        }
    }

}

.startScreen {

    &__hexagon {

        .hexagon {
            margin: 50px auto;
        }
        
        @include hexagon (100px, 55px, 25px, 0);
    }

}

.popup__setName {
    max-width: 400px;
}

