@import "~normalize.css";
@import "./var.scss";
@import "./mixin.scss";

* {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-image: url(../assets/background_2.png),
        url(../assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px, cover;
    background-attachment: fixed;
}

p {
    margin: 0;
    padding: 0;
    font-weight: 300;
}

h1 {
    font-size: $h1Fz;
    font-weight: 300;
}

h2 {
    font-size: $h2Fz;
    font-weight: 300;
}

h3 {
    font-size: $h3Fz;
    font-weight: 300;
}

input {
    outline: none;
}

img {
    max-width: 100%;
}


.colors {

    &__1 {
        background-color: $cl1;
    }

    &__2 {
        background-color: $cl2;
    }

    &__3 {
        background-color: $cl3;
    }

    &__4 {
        background-color: $cl4;
    }

    &__5 {
        background-color: $cl5;
    }

    &__W {
        background-color: $clW;
    }

    &__B {
        background-color: $clB;
    }

    &__R {
        background-color: $clR;
    }

}

.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.whiteText {
    color: $clW;
}

.blackText {
    color: $clB;
}

.title {
    text-align: center;
    font-weight: 400;
}

.popup {

    z-index: 100;
    background-color: $clW;
    box-shadow: $shadow;
    text-align: center;
    max-width: 500px;
    position: absolute;
    padding: 0 40px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);

    &__title {
        font-weight: 300;
    }

    &__input {
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid;
    }

    &__inputErr {
        border-color: $clR;
        &::placeholder {
            color: $clR;
        }
    }

    &__button {

        @include button (200px);

    }

    &__buttonsFX {
        display: flex;
        justify-content: space-around;
        padding: 20px 0;
    }

    &__buttonsBL {

        padding: 10px 0;

        .button {
            margin: 10px 0;
            justify-content: center;
        }

    }

}


.header {

    background-color: $cl1;
    color: $clW;
    width: 100%;

    ul {
        display: flex;
    }

    li {
        text-align: center;
        padding: 10px 20px;
        transition: all $transition;

        &:hover {
            background-color: $cl2;
        }
    }

}

.startScreen {

    &__hexagon {

        .hexagon {
            margin: 50px auto;
        }
        
        @include hexagon (100px, 55px, 25px, 0);
    }

}

.popup__setName {
    max-width: 400px;
}



.game {

    .popup__continue {

        margin-top: 50px;

        .button {
            @include button (150px);
            margin: 0 10px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }

    &__helpItem {

        margin-top: 50px;

        p {
            font-weight: 600;
        }

        svg {
            fill: $clW;
        }
    } 

    .hic1 {
        @include hexagon (60px, 30px, 18px, 0, $cl1);
    }

    .hic2 {
        @include hexagon (70px, 40px, 19.5px, 0, $cl2);
    }

    .hicX {
        @include hexagon (60px, 30px, 18px, 0, $cl5, no-drop);
    }

    
    &__picture {
        margin-top: 35px;
        max-width: 500px;
        // margin-right: 130px;
        // margin-left: 130px;
        background-color: $clW;
        box-shadow: $shadow;
        padding: 10px;
    }

    &__info {
        margin-top: 35px;
        background-color: $cl1;
        box-shadow: $shadow;
        padding: 15px;
    }

    &__infoBlock {

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 15px;

        .game__infoName {
            font-style: italic;
        }

        p {
            font-weight: 600;
            font-size: $h3Fz;
        }

        h3 {
            margin: 10px;
            margin-right: 20px;
        }

    }

    &__question {

        margin-bottom: 20px;

        div {
            margin: auto;
            @include button ($widthContainer2, '', 75px, 30px);
            position: relative;
            .button__center {
                p {
                    margin: 10px;
                };
            }

        }

    }

    &__answers {

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: $widthContainer2 + 60px + 20px;
        margin: auto;

        .button {
            @include button (300px, pointer, 50px, 25px);
            margin: 10px;

            .button__center {
                justify-content: start;

                p {
                    text-align: left;
                }

            }

        }

    }    

}

